@import "text";

.input {
    font-size: $font-size;
    margin: .5rem 0;
    border: .1rem solid $cor-branco;
    outline: none;
    padding: .34rem;
    border-radius: 3px;

    &:hover {
        border-color: $cor-text;
    }
}